<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <h1>Agenda eletronica</h1>
    <table>
        <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>#</th>
    </tr>

    <tr>
        <td>asdsas</td>
        <td>adsda</td>
        <td>asda</td>
        <td>asd</td>
        <td><button>Excluir</button></td>
    </tr>
    </table>
</body>
</html>